:root {
  --main-color: #757575;
  --secondary-color: #212121;
  --accent-color: #2196f3;
  --main-footer-text-color: #ffffff;
  --background-color: #2f303a;
  --links-color: #afb1b8;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-color);
}

/* COMPONENTS */
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  margin-bottom: 50px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* HEADER */
.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  margin-right: 93px;
}

.blue-logo {
  color: var(--accent-color);
}

.menu-nav {
  display: flex;
}

.menu-list {
  display: flex;
  align-items: center;
}

.menu-item:not(:last-child) {
  margin-right: 50px;
}
.menu-link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list {
  display: flex;
  margin-left: auto;
}

.address-link {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--main-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-item + .contacts-item {
  margin-left: 50px;
}
.icon-envelope {
  fill: currentColor;
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.icon-smartphone {
  fill: currentColor;
  width: 10px;
  height: 16px;
  margin-right: 10px;
}
.current,
.menu-link:hover,
.menu-link:focus,
.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}

.current::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -0.5px;
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
}

/* HERO */
.hero {
  background-color: #c4c4c4;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/bgimage.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  max-width: 1600px;
  height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
}

.title-hero {
  max-width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-footer-text-color);

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.btn-hero {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--main-footer-text-color);

  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-hero:hover,
.btn-hero:focus {
  background-color: #188ce8;
  cursor: pointer;
}

/* SECTION FEATURES */
.features-list {
  display: flex;
}

.features-item {
  width: calc((100% - 90px) / 4);
  /* width: 270px; */
}

.features-item:not(:last-child) {
  margin-right: 30px;
}

.features-img {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}
.features-icons {
  width: 70px;
  height: 70px;
  fill: var(--secondary-color);
}

.features-item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-color);
  margin-bottom: 10px;
}

.features-item-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* WORK*/
.work {
  padding-top: 0;
}

.work-list {
  display: flex;
  margin: -15px;
}

.work-item {
  width: calc((100% - 60px) / 3);
  margin: 15px;
}
.work-list-wrapper {
  position: relative;
}

.work-overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-footer-text-color);
  padding: 27px 82px;
  background: rgba(47, 48, 58, 0.8);
}
/* SECTION TEAM */
.team {
  background-color: #f5f4fa;
}

.team-text {
  padding: 30px 32px 30px 32px;
}
.team-list {
  display: flex;
  margin: -15px;
}
.team-item {
  width: calc((100% - 90px) / 4);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin: 15px;
}

.team-item-name {
  font-weight: 500;
  font-size: 16px;

  color: var(--secondary-color);
  margin-bottom: 10px;
}

.team-profession {
  font-size: 16px;
  margin-bottom: 16px;
}

.team-contact-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.team-contact-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links {
  width: 20px;
  height: 20px;
  fill: var(--links-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-contact-link:hover,
.team-contact-link:focus {
  background-color: var(--accent-color);
}

.team-contact-link:hover .social-links,
.team-contact-link:focus .social-links {
  fill: var(--main-footer-text-color);
}

/* CLIENTS */

.clients-list {
  display: flex;
  margin: -15px;
}
.clients-item {
  margin: 15px;
}

.clients-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  background-color: #fff;
  border: 1px solid var(--links-color);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-item-link:hover,
.clients-item-link:focus {
  border-color: var(--accent-color);
}

.clients-icon {
  width: 106px;
  height: 60px;
  fill: var(--links-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-item-link:hover .clients-icon,
.clients-item-link:focus .clients-icon {
  fill: var(--accent-color);
}

/* FOOTER */

.footer {
  background-color: var(--background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-left-side {
  margin-right: 70px;
}

.logo-white {
  color: var(--main-footer-text-color);
  display: block;
  margin-bottom: 20px;
}

.address-list .maps {
  color: var(--main-footer-text-color);
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}

.address-footer-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-links-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-footer-text-color);
  margin-bottom: 20px;
}

.footer-content {
  display: flex;
  align-items: baseline;
}

.footer-social-list {
  display: flex;
}

.footer-sotial-list-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-color);
}
.footer-icons {
  width: 20px;
  height: 20px;
  fill: var(--main-footer-text-color);
}

/* PORTFOLIO HTML*/
.filtres-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filtres-item:not(:last-child) {
  margin-right: 8px;
}

.filtres-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  color: var(--secondary-color);
  background: #f5f4fa;
  border: transparent;
  border-radius: 4px;
  padding: 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filtres-btn:hover,
.filtres-btn:focus {
  background-color: var(--accent-color);
  color: var(--main-footer-text-color);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.cards-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.cards-item {
  width: calc((100% - 90px) / 3);
  /* width: 370px; */
  margin: 15px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards-item:hover,
.cards-item:focus,
.card-item:active {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--main-footer-text-color);
  background: rgba(33, 150, 243, 0.9);
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards-item-link:hover .overlay,
.cards-item-link:focus .overlay {
  transform: translateY(0%);
}

.cards-title-list {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
  margin: 0 0 4px 0;
}
.cards-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.card-list-text {
  /* height: 110px; */
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}
